*{
              margin: 0;
              padding: 0;
          }
          body{
              background-color: #222;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              color: white;
          }
          .container{
              border: 1px solid black;
              width: 416px;
              height: auto;
              display: flex;
              flex-wrap: wrap;
              background-color: aliceblue;
              color: black;
          }
          .container #tela-inicial{
              width: 416px;
              height: 100vh;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: rgba(0,0,0,0.7);
              position: absolute;   
              color: white;
              flex-direction: column;
              font-size: 20px;
          }
          .container #tela-inicial a{
              width: 200px;
              height: 50px;
              background-color: orange;
              color: white; 
              text-decoration: none;
              font-size: 28px;
          }
          .container div {
              width: 50px;
              height: 50px;
              border: 1px solid black;
              font-size: 0;
              text-align: center;
              line-height: 50px;
              transition: 0.2s ease;
              background-size: 100% 100%;
          }
          #a1{
              background-color: #555;
          }
          .control{
              width: 416px;
              height: auto;
              display: none;
              flex-direction: column;
          }
          .container-arrow{
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: center;
          }
          .container-arrow:nth-child(2){
              justify-content: space-around;
          }
          .arrow{
              background-color: firebrick;
              width: 80px;
              height: 60px;
              background-size: 100% 100%;
          }
#top{
    background-image: url(img/arrow/top.png);
}
#left{
    background-image: url(img/arrow/left.png);
}
#right{
    background-image: url(img/arrow/right.png);
}
#down{
    background-image: url(img/arrow/bottom.png);
}
          @media (max-width: 1000px) and (min-width: 0px){
              h2{
                  font-size: 30px;
              }
              .container{
                  width: 100%;
                  height: 45vh;
                  justify-content: center;
              }
              .container #tela-inicial{
                  width: 100%;
                  height: 100vh;
                  font-size: 15px;
              }
              .container #tela-inicial a{
                  width: 200px;
                  height: 70px;
                  font-size: 30px;
                  line-height: 70px;
              }
              .container div {
                  width: 11.9%;
                  height: 11.9%;
              }
              .control{
                  margin-top: 2vh;
                  width: 100%;
                  height: 40vh;
                  display: flex;
                  flex-direction: column;
              }
              .arrow{
                  width: 30%;
                  height: 100%;
                  border-radius: 100%;
              }
}
@media (orientation: landscape) and (max-width:1000px){
    body{
        flex-direction: row;
        flex-wrap: wrap;
    }
    h2{
        width: 100%;
        text-align: center;
    }
    .container{
        width: 50%;
        height: 70vh;
    }
    .container div{
        width: 11.7%;
        height: 11.5%;
    }
    .container #tela-inicial{
        width: 139%;
        font-size: 20px;
        height: 89vh;
    }
    .container #tela-inicial h2{
        width: 100%;
        margin-left: 250px;
    }
    .container #tela-inicial a{
        margin-left: 30%;
        width: 30%;
    }
    .control{
        width: 45%;
        height: 60vh;
    }
}